@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "tailwindcss";

@theme {

  --color-primary-accent: #fff3e9; /* Closest to the lighter peach */
  --color-secondary-accent: #ffd6b6; /* Other light peach */

  /* Primary Dark Color (deep maroon) */
  --color-primary: #5c2626;

  /* Secondary Accent Color (light orange/peach) */
  --color-secondary: #ffb983;

  /* Darker Maroon */
  --color-tetiary: #803535;

  /* Very Dark Brown/Black */
  --color-very-dark: #381717;

  /* Text color (defaulting to a dark color for readability on light backgrounds) */
  --color-text-color: var(--color-very-dark);

  /* Link color (using the secondary accent for emphasis) */
  --color-link-color: var(--color-secondary-accent);
  --color-link-hover-color: var(--color-primary);

  /* Background color (defaulting to the primary light accent) */
  --color-background-color: var(--color-primary-accent);
}


