@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "tailwindcss";

@theme {
  /* Basic black and white adjusted to theme */
  --color-white: #ffffff; /* WHITE */
  --color-black: #0F0606; /* SMOKY BLACK */

  /* Primary Dark Color (CAPUT MORTUUM) */
  --color-primary: #5c2626;

  /* Secondary light Color (SANDY BROWN) */
  --color-secondary: #ffd6b6;
  
  /* Accent Color (CHAMPAGNE PINK) */
  --color-accent: #FFE8D6;


  /* Text color (defaulting to a dark color for readability on light backgrounds) */
  --color-text-color: var(--color-white);

  /* Link color (using the secondary accent for emphasis) */
  --color-link-color: var(--color-white);
  --color-link-hover-color: var(--color-accent);

  /* Background color (defaulting to the primary light accent) */
  --color-background-color: var(--color-primary);
}

/* Base layout styling */
@layer base {
  html, body, #root {
    @apply min-h-screen w-full bg-primary text-accent m-0 p-0;
  }

  body.overflow-hidden {
    overflow: hidden;
  }
}

