@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "tailwindcss";

@theme {
  /* Basic black and white adjusted to theme */
  --color-white: #ffffff;
  --color-black: #07121a;


  --color-primary-accent: #FFF3E9; /* Closest to the lighter peach */
  --color-secondary-accent: #FFBA85; /* Other light peach */

  /* Primary Dark Color (deep maroon) */
  --color-primary: #5c2626;

  /* Secondary Accent Color (light orange/peach) */
  --color-secondary: #ffd6b6;

  /* Darker Maroon */
  --color-tetiary: #803535;


  /* Text color (defaulting to a dark color for readability on light backgrounds) */
  --color-text-color: var(--color-very-dark);

  /* Link color (using the secondary accent for emphasis) */
  --color-link-color: var(--color-secondary-accent);
  --color-link-hover-color: var(--color-primary);

  /* Background color (defaulting to the primary light accent) */
  --color-background-color: var(--color-primary-accent);
}

/* Base layout styling */
@layer base {
  html, body, #root {
    @apply min-h-screen w-full bg-primary text-primary-accent m-0 p-0;
  }

  body.overflow-hidden {
    overflow: hidden;
  }
}

